<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SanSan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="SanSanClientLibSourceCopier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SanSanClientLibSourceCopier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <applicationSettings>
        <SanSan.Properties.Settings>
            <setting name="DistributionPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SrcPath" serializeAs="String">
                <value />
            </setting>
            <setting name="Title" serializeAs="String">
                <value>文件同步分发器</value>
            </setting>
            <setting name="IngorePattern" serializeAs="String">
                <value>\.git[\s\S]*</value>
            </setting>
        </SanSan.Properties.Settings>
       
    </applicationSettings>
   
</configuration>
